<section class="client-section">
  <h3 id="clients">Clients</h3>

  <div class="clients-mobile-nav">
    {% for client in site.data.portfolio.clients %}
      <span></span>
    {% endfor %}
  </div>


  <div class="clients-controls">
    <div class="control-next">{% include icons/icon-arrow-next.html %}</div>
    <div class="control-prev">{% include icons/icon-arrow-prev.html %}</div>
  </div>
  <div class="clients-belt">
    {% for client in site.data.portfolio.clients %}
    <div class="client-unit">
      <div class="client-face">
        <img src="assets/img/clients/{{ client.avatar }}" alt="face" />
        <strong class="client-name">{{ client.name }}</strong>
        <em class="client-title">{{ client.title }}</em>
      </div>
      <div class="client-content">
        <div class="client-quote">
          {% include icons/icon-quote.html %}
        </div>
        {{client.quote}}
        <div class="client-quote-close">
          {% include icons/icon-quote-close.html %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="clients-logo">
    {% for client in site.data.portfolio.clients %}
      <img class="client-logo" src="assets/img/clients/{{ client.logo}}" />
    {% endfor %}
  </div>
</section>
