.alt-bg
  background: $alt-bg
  overflow-x: hidden

.work-belt
  width: 200%
  overflow-x: hidden
  position: relative
  left: 0%
  +transition(all, 800ms)

  &.slided
    +transform(translate3d(-50%, 0, 0))

.thumb-wrap, .project-wrap
  width: 50%
  float: left

.thumb-container
  max-width: 960px
  margin: 0 auto
  padding-bottom: 100px
  display: block
  +clearfix

  .thumb-unit
    cursor: pointer
    width: 25%
    display: block
    float: left
    position: relative
    padding-top: 17%
    overflow: hidden
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    +perspective(300)

    @media screen and (max-width: 760px)
      width: 50%
      padding-top: 27%
    @media screen and (max-width: 540px)
      padding-top: 37%


    .thumb-overlay
      +position(absolute, -50% 0px null 0px)
      height: 100%
      background: fade-out($accent, 0.3)
      text-align: center
      +transition
      +display(flex)
      +align-items(center)
      +justify-content(space-around)
      +transform(rotateX(90deg))
      +transform-origin(center bottom)
      opacity: 0

      strong
        display: block
        padding: 20px
        color: white
        font-weight: 300
        text-transform: uppercase
        font-size: 22px
        line-height: 1.2

    &:hover .thumb-overlay
      +position(absolute, 0% 0px null 0px)
      +transform(rotateX(0deg))
      opacity: 1

.project-expand
  max-width: 600px
  margin: 0 auto
  padding: 0 15px
  position: relative
  display: none

  h4
    color: $accent
    font-weight: 300
    text-transform: uppercase
    font-size: 28px
    margin: 0 0 20px

  .feature-img
    max-width: 100%
    height: 300px
    background-color: grey
    margin-bottom: 20px

  .thumb-return
    +size(40px)
    cursor: pointer
    opacity: 0.5
    +position(absolute, 2px null null -60px)

    svg
      width: 100%
      height: 100%

      path
        fill: rgba(0,0,0,0.4)

    &:hover
      opacity: 1

@media (max-width: 740px)
  .project-expand
    .thumb-return
      left: 0px

    h4
      margin-left: 60px
